.body {
  display: grid;
  width: clamp(500px, 53vw, 700px);
  column-gap: 10px;
}

.header {
  display: flex;
  gap: 1rem;
}

.header .item {

  display: flex;
  margin-top: 1rem;

}

.header .item .icon-container {

  border-radius: 7px 0 0 7px;
  padding: 5px 13px;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
}

.header .item .icon-container .mat-icon {
  font-size: 1.6rem;
  width: auto;
  color: white;
  height: auto;
}

.header .item .data {
  background-color: rgb(241, 241, 241);
  border-right: solid var(--primary-color) 1px;
  border-top: solid var(--primary-color) 1px;
  border-bottom: solid var(--primary-color) 1px;
  border-radius: 0 7px 7px 0;
  height: 100%;
  padding: 5px 13px;
  align-items: center;
  display: flex;
}

mat-divider {
  margin: 1rem 0;
  
}
 
