main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  align-items: center;
  background-position: center;
  background-image: url("../../../assets/images/page-turner.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.mat-card {
  width: 500px;
  padding: 3rem 4rem;
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: 3px 3px 20px 10px rgb(0 0 0 / 15%);
  border-radius: 22px;
}

.mat-card-header {
  font-size: 2rem;
  font-weight: 400;
  color: #454545;
  display: flex;
  justify-content: center;
}

.mat-form-field {
  display: block;
  margin-top: 2rem;
  color: #606060;
}

.mat-card-header-text {
  margin: 0px !important;
}

.forgotpass {
  text-align: end;
  font-size: small;
}

.login-btn {
  padding: 4px 28px;
  font-size: 17px;
  font-weight: 400;
  width: 100%;
  margin-top: 2rem;
  min-height: 50px;
  min-width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
