.generate-rep-btn {
  padding-right: 2rem;
  padding-left: 2rem;

}

.filter {
  width: fit-content;
}

.mat-card-content{
    margin-top: .6rem;
}

.form-group {
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 35rem;
}
