:root {
  --primary-color: #067ACC;
  --secondary-color: #79818a;
  --max-width: 1360px;
  --screen-width: 320px;
  --screen-height: 560px;
  --header-bg-color: #25283d;
  --splash-bg-color: #1f8fff;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

p {
  margin: 0;
}

.mat-icon-button .mat-icon {
  line-height: auto;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

main {
  max-width: 1920px;
}


html,
body {
  box-sizing: border-box;
  height: 100%;
  background-color: #fafafa;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

main:not(.app-main, .no-styles) {
  margin: 2rem .5rem;
}

mat-form-field mat-icon {
  color: var(--secondary-color);
}

/* para que los inputs no se superpongan en el formulario de modificacion */
.appointment-modify .mat-form-field-infix {
  width: auto !important;
}

.title-container {
  margin-bottom: 2rem;
}

.mat-drawer-content {

  transition: margin 200ms cubic-bezier(0.13, 0.06, 0.58, 1.18) 0s !important;
  padding: 12px;
  overflow-x: hidden !important;
}


.background-red {
  background-color: rgb(153, 50, 50);
  color: white;
}

.background-red span.mat-button-wrapper {
  color: white !important;
}

.background-green {
  background-color: var(--bs-success);
  color: white;
}

.mat-simple-snackbar-action .mat-button-wrapper {
  color: white;
}

.loading-layer {
  background: white;

  z-index: 55;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
}

.progress-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-content>.mat-progress-spinner {
  margin: auto;

}

.mat-step-header .mat-step-icon {
  display: none !important;
}

/* text with icon in step-header I'm using custom style */
#dashboard-stepper .mat-step-text-label,
#config-stepper .mat-step-text-label {

  display: flex !important;
  gap: 7px;
}

#config-stepper .mat-stepper-horizontal-line {
  flex: none !important;
  width: 50px;
}

/* this is 👁️‍🗨️ icon*/
table .action .mat-icon {
  color: #999999;
}

/*this is speciality component*/
.add-form mat-form-field div.mat-form-field-wrapper {
  padding-bottom: 0 !important;
  margin-bottom: 0;
}


html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: linear-gradient(0deg, #fafafa 50%, var(--primary-color) 100%);
  animation: spin 1s linear infinite;
}

.inner-circle {
  width: 90%;
  height: 90%;
  background-color: #fafafa;
  border-radius: 50%;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
