<main class="no-styles">
    <h1 class="title">Seleccione a un doctor</h1>
    <div class="container">
    <div class="card" (click)="accountSvc.SetMedico(medico.id)" *ngFor="let medico of medicos">
      <div class="content">
        <div class="imgBx">
          <img src="{{medico.profilePhoto}}">
        </div>
        <div class="contentBx">
          <h3>{{medico.nombre}}<br><span>{{medico.apellido}}</span></h3>
        </div>
      </div>
      <ul class="sci">
        <li *ngFor="let item of medico.especialidades | slice:0:3;">
          <span>{{item}}</span>
        </li>
      </ul>
    </div>
  </div>
</main>
