main {
  display: block;
  margin-top: 60px;
}

.example-container {
  width: 100%;
  height: 100%;
}

mat-drawer {
  top: 60px;
  position: fixed;
  background-color: #313131;
}


.active {
  background: var(--primary-color);

}

.active .mat-icon {
  color: #ffffff;
}

.mat-list-base .mat-list-item {
  display: block;
  height: 48px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: fit-content;
  /* padding: 10px; */
  border-radius: 15%;
  margin: 5px;
}

.mat-list-item span {
  margin: 0;
}

.mat-list-item .mat-icon {
  /* margin-right: 0px; */
  font-size: 2rem;
  height: 2rem;
  width: 2rem;
  color: whitesmoke;
}


.mat-list-item:hover .mat-icon {
  color: var(--primary-color);

}

.mat-action-list .mat-list-item:focus .mat-icon {
  color: #fff;

}


.mat-action-list .mat-list-item:focus {
  background: var(--primary-color);

}
