<app-navbar></app-navbar>
<main class="app-main">
  <mat-drawer-container class="main-container">
    <mat-drawer (mouseleave)="showFiller=false" (mouseenter)="showFiller=true" #drawer disableClose
      class="sidebar-drawer" mode="side" [class.sidebar-expanded]="showFiller" opened>

      <mat-action-list class="sidebar-list">

        <div class="menu-item-wrapper" data-aos="fade-right" data-aos-delay="100">
          <mat-list-item routerLinkActive="active-menu-item" [routerLink]="['crear-cita']" class="modern-menu-item">
            <mat-icon mat-list-icon>add_circle_outline</mat-icon>
            <span class="menu-label" *ngIf="showFiller">Nueva cita</span>
          </mat-list-item>
        </div>

        <div class="menu-item-wrapper" data-aos="fade-right" data-aos-delay="200">
          <mat-list-item routerLinkActive="active-menu-item" [routerLink]="['dashboard']" class="modern-menu-item">
            <mat-icon mat-list-icon>calendar_today</mat-icon>
            <span class="menu-label" *ngIf="showFiller">Calendario</span>
          </mat-list-item>
        </div>

        <div class="menu-item-wrapper" data-aos="fade-right" data-aos-delay="300">
          <mat-list-item routerLinkActive="active-menu-item" [routerLink]="['citas']" class="modern-menu-item">
            <mat-icon mat-list-icon>list_alt</mat-icon>
            <span class="menu-label" *ngIf="showFiller">Registro de citas</span>
          </mat-list-item>
        </div>

        <div class="menu-item-wrapper" data-aos="fade-right" data-aos-delay="400">
          <mat-list-item routerLinkActive="active-menu-item" [routerLink]="['reportes']" class="modern-menu-item">
            <mat-icon mat-list-icon>analytics</mat-icon>
            <span class="menu-label" *ngIf="showFiller">Reportes</span>
          </mat-list-item>
        </div>

        <div class="menu-item-wrapper" data-aos="fade-right" data-aos-delay="500">
          <mat-list-item routerLinkActive="active-menu-item" [routerLink]="['configuracion']" class="modern-menu-item">
            <mat-icon mat-list-icon>settings</mat-icon>
            <span class="menu-label" *ngIf="showFiller">Configuración</span>
          </mat-list-item>
        </div>

      </mat-action-list>
    </mat-drawer>

    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>

  </mat-drawer-container>
</main>