.content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.content>img {
  width: 200px;
}

.sub-text {
  color: rgb(85, 85, 85);
  font-size: 14px;
  font-weight: 300;
  font-style: italic;

}
