<h1 class="title" mat-dialog-title>POSPONER CITA</h1>
  
<mat-dialog-content *ngIf="!loading else load">

    <form (ngSubmit)="onClickSubmit()" [formGroup]="dateTimeFormGroup" class="form-group _row insurance-form">

      <mat-form-field (click)="picker.open()" appearance="fill">
        <mat-label>Fecha</mat-label>
        <input class="date-appointment" formControlName="dateControl" [matDatepickerFilter]="dateFilter" matInput
          [matDatepicker]="picker" required (click)="picker.open()" [readonly]="true">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Hora</mat-label>
        <mat-select formControlName="timeControl" name="hora" required [disabled]="loadingDateControl">
          <mat-option *ngFor="let hora of Horas" [value]="hora.id">
            {{hora.descrip}}
          </mat-option>
        </mat-select>
        <mat-hint><span *ngIf="!loadingDateControl else loadHours"></span></mat-hint>
      </mat-form-field>

      <!-- -----------------------------------------------------------------------  -->


      <div class="action-buttons">
        <button mat-stroked-button [disabled]="loading" 
          type="button" (click)="onNoClick()">Cancelar</button>
        <button mat-flat-button color="primary" [disabled]="loading" type="submit">Confirmar</button>
      </div>
    </form>
</mat-dialog-content>




<ng-template #load>
  <div class="loading-container" style="margin: auto; height: 30vh;">
    <app-loading></app-loading>
  </div>
</ng-template>

<ng-template #loadHours>
  Cargando...
</ng-template>
